<ul class="thumbnails" style="margin-right: -20px">
  {{#data}}
  <li class="span2" style="width: 135px">
    <a href="{{.}}" class="thumbnail">
      <img src="{{.}}" alt="" width="150" height="150" />
    </a>
  </li>
  {{/data}}
</ul>
