!!!
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible",content="IE=10")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/kalendae/kalendae.css')
    script(type="text/javascript", src="/javascripts/lib/jquery.js")
  body
    .wrap
      block content
    script(type="text/javascript", src="/javascripts/lib/highcharts.js")
    script(type="text/javascript", src="/javascripts/lib/highcharts_exporting.js")
    script(type="text/javascript", src="/kalendae/kalendae.min.js")
    script(type="text/javascript", src="/javascripts/lib/underscore.js")
    // script(type="text/javascript", src="/javascripts/async.js")
    script(type="text/javascript", src="/javascripts/lib/bootstrap.js")
    script(type="text/javascript", src="/javascripts/lib/mustache.js")
    script(type="text/javascript", src="/javascripts/ranaly.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
